body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
#hello-color{
    color: #8c8c8c;
}
#work-color{
    color: dimgray;
    text-align: center;
}
.wo-color{
    color: black;
    text-align: center;
}
.wo-color1{
    color: dimgray;
    text-align: center;
}
#ser-color{
    color: dodgerblue;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width1{
    text-align: center;
    width: 23%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 85px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #66d9ff,#00ace6);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.me-button{
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(45deg, dimgray, black);
    padding: 40px 60px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.bottom-me{
    text-align: center;
    padding-top: 100px;
}
.service{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.hola{
    box-shadow: 10px 10px 40px gray;
    border-radius: 7px;
    height: 70%;
    
}
.hola1{
    box-shadow: 10px 10px 40px gray;
    border-radius: 7px;
    height: 35%;
    
}
.jobs{
    background-image: url(images/exp-bg.png);
    text-align: center;
    background-repeat: no-repeat;
    background-position: left;
}
.jobs1{
    background-image: url(images/latest-work-bg.png);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}
#full{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
}
#not-full{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
#nfull{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, black, gray);
    border-image-slice: 1;
}
footer p{
    padding-top: 40px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.text{
    text-align: inherit;
}
.latest-work{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    text-align: center;
}
.latest-work1{
    padding-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.fi1{
    padding-top: 15px;
    width: 20%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.fi2{
    padding-top: 15px;
    width: 20%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.fi3{
    padding-top: 15px;
    width: 20%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.get-touch1{
    text-align: center;
    padding-top: 100px;
    text-decoration: none;
    background-image: linear-gradient(45deg, #66d9ff,#00ace6);
    padding: 5px 10px;
    color: white;
    font-weight: 700;
}
.get-touch{
    text-align: center;
    padding-top: 100px;
    background-image: linear-gradient(45deg, dimgray, black);
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.touch{
    text-align: center;
    position: center;
    
}
.touch1{
    text-align: center;
    position: center;
    padding-bottom: 80px;
    
}
.touch2{
    text-align: center;
    padding-top: 12px;
}
.hello1{
    padding-bottom: 100px;
}
.hia{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#full1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
}