body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
#hello-color{
    color: #8c8c8c;
}
#work-color{
    color: dimgray;
    text-align: center;
}
.wo-color{
    color: black;
    text-align: center;
}
.wo-color1{
    color: dimgray;
    text-align: center;
}
#ser-color{
    color: dodgerblue;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width1{
    text-align: center;
    width: 23%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 85px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #66d9ff,#00ace6);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.me-button{
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(45deg, dimgray, black);
    padding: 40px 60px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.bottom-me{
    text-align: center;
    padding-top: 100px;
}
.service{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.hola{
    box-shadow: 10px 10px 40px gray;
    border-radius: 7px;
    height: 70%;
    
}

.jobs{
    background-image: url(images/exp-bg.png);
    text-align: center;
    background-repeat: no-repeat;
    background-position: left;
}
.jobs1{
    background-image: url(images/latest-work-bg.png);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}
#full{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
}
#not-full{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
#nfull{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, black, gray);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.text{
    text-align: inherit;
}
.latest-work{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.latest-work1{
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.fi1{
    padding-top: 15px;
    width: 20%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.fi2{
    padding-top: 15px;
    width: 20%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.fi3{
    padding-top: 15px;
    width: 20%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}

.social-icons i{
    color: #000000;
    text-decoration: none;
}
.social-icons a:hover,
.a-social-b a:hover{
	background-color: #000000;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	transition: all ease 0.5s;
}
.social-icons a:hover i,
.a-social-b a:hover i{
	color: #FFFFFF;
	transition: all ease 0.5s;
}
.a-social-b{
	position: fixed;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
}
.a-social-b a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	padding: 0px;
	margin: 0px;
	line-height: 0px;
	background-color: #FFFFFF;
	border: 1px solid #cbcbcb;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.a-social-b i{
	color: #2b2b2b;
	font-size: 20px;	
}
