body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgray;
}
#hello-color{
    color: #8c8c8c;
}
#ser-color{
    color: dodgerblue;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width1{
    width: 23%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 85px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #66d9ff,#00ace6);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.service{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.hola{
    box-shadow: 10px 10px 40px gray;
    border-radius: 7px;
    height: 70%;
    
}

.jobs{
    background-image: url(images/exp-bg.png);
    text-align: center;
    background-repeat: no-repeat;
    background-position: left;
}

#full{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
}
#not-full{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
#nfull{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, black, gray);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.text{
    text-align: inherit;
}
.latest-work{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.fi1{
    width: 20%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.fi2{
    width: 20%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.fi3{
    width: 20%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}

